# Django
*.pyc
__pycache__/
*.pyo
*.pyd

# Base de datos SQLite (CRÍTICO - evita subir tokens)
db.sqlite3
*.sqlite3
*.db

# Entorno virtual
venv/
env/

# Variables de entorno (CRÍTICO)
.env
*.env

# Medios y archivos subidos
media/
media/uploads/
staticfiles/
static_collected/

# IDEs
.vscode/
.idea/
*.swp

# Sistema Operativo
.DS_Store
Thumbs.db

# Logs
*.log
logs/
logs/*.log

# Migraciones locales
*/migrations/__pycache__/

# Archivos temporales
*.tmp
*.cache

#staticfiles (collectsatic)
/staticfiles/
/static_collected/